[submodule "driver/realsense_ros2/src/realsense-ros"]
	path = driver/realsense_ros2/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "driver/orbbec/src/OrbbecSDK_ROS2"]
	path = driver/orbbec/src/OrbbecSDK_ROS2
	url = https://github.com/orbbec/OrbbecSDK_ROS2.git
